 <div class="container-fluid">
        <h1>Register</h1>
                <div ng-show="model.error" class="alert alert-danger">
                        {{model.error}}
                </div>
        <label for="username">Username</label>
        <input ng-model="username"
               type="text"
               id="username"
               class="form-control"
               placeholder="username"/>

        <label for="password">Password</label>
        <input ng-model="password"
               type="password"
               id="password"
               class="form-control"
               placeholder="password"/>

        <label for="cpassword">Confirm Password</label>
        <input ng-model="password2"
               type="password"
               id="cpassword"
               class="form-control"
               placeholder="verify password"/>

         <label for="firstName">First Name</label>
         <input ng-model="firstName"
                type="text"
                id="firstName"
                class="form-control"
                placeholder="First Name"/>

         <label for="lastName">First Name</label>
         <input ng-model="lastName"
                type="text"
                id="lastName"
                class="form-control"
                placeholder="Last Name"/>

         <label for="email">Email</label>
         <input ng-model="email"
                type="email"
                id="email"
                class="form-control"
                placeholder="Email"/>

        <a ng-click="model.register(username, password, password2, firstName, lastName, email)"
           class="btn btn-primary btn-block">
                Register
        </a>
        <a class="btn btn-danger  btn-block"
           href="#!login">Cancel</a>
 </div>
